body {
    font-family: 'Poppins';
    overflow-x: hidden;
    background-color: #E5E5E5;
}

.icon-size-16 {
    width: 25px;
}

.color-1 {
    color: #001947;
}

.card {
    border-radius: 10px;
}

.page-heading {
    color: #001947;
    font-weight: bold;
}

/* Navbar */
.navbar-brand {
    font-size: 22px;
    font-weight: bold;
}

.nav-bar {
    transition: all 0.2s ease-in-out;
}

.nav-bar-active {
    background-color: #1D2D5F;
}

.nav-link {
    margin-right: 55px;
}

.btn-user {
    background-color: #F65E5D;
    color: white !important;
    font-weight: bold;
    height: 45px;
    width: 140px;
    border-radius: 7px;
}

.user-btn-wrapper {
    padding-top: 4px;
}

.user-img {
    width: 25px;
}

.user-name {
    margin-top: 1000px !important;
    padding-left: 10px;
}

/* header-top */
.header-top {
    background-color: #1D2D5F;
    height: 545px;
}

.bg-box-header {
    position: absolute;
}

.header-top-text-wrapper {
    color: white;
    position: absolute;
    padding-top: 200px;
    padding-left: 45px;
}

.header-top-text-wrapper h2 {
    font-weight: 800;
}

.header-top-text-wrapper p {
    padding-top: 15px;
}

.bg-learn-header {
    width: 50%;
    height: 400px;
    object-fit: cover;
    margin-top: 145px;
    margin-left: 255px;
}

/* Info panel */
.info-panel-card {
    margin-top: -80px;
    height: 160px;
    width: 900px;
    left: 100px;
    box-shadow: 0px 4px 20px rgba(29, 45, 95, 0.25);
    border: none;
    border-radius: 15px;
}

.info-panel-content-wrapper {
    margin-top: 20px;
}

.info-panel img {
    height: 45px;
    margin-right: 55px;
    margin-left: 65px;
}

.info-panel p {
    padding-top: 10px;
    color: #1D2D5F;
}

/* Description */
.description {
    background-color: #E5E5E5;
}

.description-content-wrapper {
    margin-top: 115px;
}

.bg-women-learn-description {
    width: 375.94px;
}

.description-text-wrapper {
    padding-top: 15px;
}

.description-text-wrapper {
    padding-top: 55px;
}

.description-icon {
    width: 40px;
}

.description-text-wrapper p {
    color: #001947;
    padding-left: 65px;
    padding-bottom: 15px;
}

.btn-explore-class {
    margin-top: 13px;
}

.btn-explore-class {
    background-color: #F65E5D;
    color: white !important;
    font-weight: bold;
    height: 45px;
    width: 185px;
    border-radius: 7px;
    padding-top: 10px;
}

.btn-explore-class:hover {
    background-color: #f35858;
}

.btn-learning-flow {
    background-color: #F65E5D;
    color: white !important;
    font-weight: bold;
    height: 45px;
    width: 170px;
    border-radius: 7px;
    padding-top: 10px;
}

.btn-learning-flow:hover {
    background-color: #f35858;
}

.btn-looking-for-needs {
    border: 2px solid #F65E5D;
    color: #F65E5D;
    font-weight: bold;
    height: 45px;
    width: 220px;
    border-radius: 7px;
    padding-top: 10px;
}

.btn-looking-for-needs:hover {
    background-color: #F65E5D;
    color: white;
}


/* List Class */
.list-class-card {
    height: 460px;
    width: 330px;
    box-shadow: 0px 0px 20px rgba(48, 60, 112, 0.15);
}

.list-class-card-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list-class-card-footer {
    height: 60px;
    background-color: #F65E5D;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

/* Benefit */
.benefit-container {
    margin-left: 83px;
    margin-right: 83px;
}

.col-benefit-first {
    padding-top: 180px;
}

.col-benefit-end {
    padding-top: 115px;
}


/* ================== */
/* float-left */
.hexagon-icon {
    width: 47px;
}

.consultation-icon {
    width: 46px;
}

.certificate-icon {
    width: 38px;
}

/* float-right */
.plot-icon {
    width: 45px;
}

.project-icon {
    width: 45px;
}

.download-icon {
    width: 50px;
}

/* ================== */

.man-with-laptop-img {
    width: 160px;
}

.btn-join-with-us {
    width: 275px;
    height: 50px;
    margin-top: 35px;
    padding-top: 13px;
    background-color: #F65E5D;
    color: white !important;
    border-radius: 10px;
}

/* FAQ (Frequently Asked Question */
.faq-img {
    height: 355px;
    margin-top: 100px;
}

.faq-dropdown-button {
    height: 25px;
}

.faq-dropdown-button-rotate {
    transform: rotate(-45deg);
}

.btn-more-questions {
    width: 250px;
    height: 50px;
    margin-top: 20px;
    padding-top: 13px;
    background-color: #F65E5D;
    color: white !important;
    border-radius: 10px;
}

.btn-ask-questions {
    width: 250px;
    height: 50px;
    margin-top: 20px;
    padding-top: 13px;
    border: 2px solid #F65E5D;
    color: #F65E5D;
    border-radius: 10px;
}

.btn-ask-questions:hover {
    background-color: #F65E5D;
    color: white;
}

/* Testimonial */

.testimonial-card {
    margin: auto;
    width: 800px;
    background: #F0F4FF;
    border: 1px solid rgba(48, 60, 112, 0.25);
    border-radius: 10px;
}

.testimonial-user-img {
    height: 115px;
}

.testimonial-user-detail {
    padding-top: 25px;
    margin-left: 135px !important;
}

.testimonial-user-name {
    line-height: 0px;
}

.testimonial-quotes {
    line-height: 65px;
}

.testimonial-quotes-investation {
    display: inline-block;
    background-color: #F65E5D !important;
    width: 170px;
    border-radius: 10px;
}

/* Join */
.join {
    background-color: #303C70;
}

.join-btn {
    width: 250px;
    height: 50px;
    margin-top: 20px;
    padding-top: 13px;
    background-color: #F65E5D;
    color: white;
    border-radius: 10px;
}

/* Site Details */
.upyourskillsid-text {
    position: relative;
    padding-left: 145px;
    padding-top: 80px;
}

.site-details-col-2 {
    padding-left: 75px;
}