body {
    font-family: 'Poppins';
    overflow-x: hidden;
    background-color: #E5E5E5;
}

/* Navbar */
.navbar-brand {
    font-size: 22px;
    font-weight: bold;
}

.nav-link {
    margin-right: 55px;
}

/* header-top */
.header-top {
    background-color: #1D2D5F;
    height: 545px;
}

.bg-box-header {
    position: absolute;
}

.header-top-text-wrapper {
    color: white;
    position: absolute;
    padding-top: 200px;
    padding-left: 45px;
}

.header-top-text-wrapper h2 {
    font-weight: 800;
}

.header-top-text-wrapper p {
    padding-top: 15px;
}

.bg-learn-header {
    width: 50%;
    height: 400px;
    object-fit: cover;
    margin-top: 145px;
    margin-left: 255px;
}

/* Info panel */
.info-panel-card {
    margin-top: -80px;
    height: 160px;
    width: 900px;
    left: 100px;
    box-shadow: 0px 4px 20px rgba(29, 45, 95, 0.25);
    border: none;
    border-radius: 15px;
}

.info-panel-content-wrapper {
    margin-top: 20px;
}

.info-panel img {
    height: 45px;
    margin-right: 55px;
    margin-left: 65px;
}

.info-panel p {
    color: #1D2D5F;
}

/* Description */
.description {
    height: 500px;
    background-color: #E5E5E5;
}

.description-content-wrapper {
    margin-top: 115px;
}

.bg-women-learn-description {
    width: 375.94px;
}

.description-text-wrapper {
    padding-top: 15px;
}

.description-content-wrapper h4 {
    color: #001947;
    font-weight: bold;
}

.description-text-wrapper {
    padding-top: 25px;
}

.description-icon {
    width: 35px;
}

.btn-explore-class {
    background-color: #F65E5D;
    color: white !important;
    height: 45px;
    width: 185px;
    border-radius: 7px;
    padding-top: 10px;
}

.btn-explore-class:hover {
    background-color: #f35858;
}