body {
    font-family: 'Poppins';
    overflow-x: hidden;
    background-color: #E5E5E5; 
}

/* Navbar */
.navbar-brand {
    font-size: 22px;
    font-weight: bold;
}

.nav-link {
    margin-right: 55px;
}

/* header-top */
.header-top {
    background-color: #1D2D5F;
    height: 545px;
}

.bg-box-header {
    position: absolute;
}

.header-top-text-wrapper {
    color: white;
    position: absolute;
    padding-top: 200px;
    padding-left: 35px;
}

.header-top-text-wrapper h2 {
    font-weight: 800;
}

.header-top-text-wrapper p {
    padding-top: 15px;
}

.bg-learn-header {
    width: 50%;
    height: 400px;
    object-fit: cover;
    margin-top: 145px;
    margin-left: 255px;
}

/* Info panel */
.info-panel-card {
    margin-top: -80px;
    height: 160px;
    width: 900px;
    left: 100px;
    box-shadow: 0px 4px 20px rgba(29, 45, 95, 0.25);
    border: none;
    border-radius: 15px;
}

.info-panel-content-wrapper {
    margin-top: 20px;
}

/* Next page */
.next-page {
    height: 500px;
    background-color: #E5E5E5;
}